sudo: required
language: python
python:
- '3.5'
services:
  - docker

before_install:
- if [ -n "${GH_TOKEN}" ] && [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    pip install github3.py;
    pip install PyYAML;
    docker pull acemod/armake;
    docker run -e TRAVIS_BUILD_NUMBER  -v `pwd`:/data/ acemod/armake /bin/bash -c "cd /data/.tf47Tools; pip install PyYAML; python3 build.py";
  fi
script:
- if [ -n "${GH_TOKEN}" ] && [ "${TRAVIS_BRANCH}" == "master" ] && [ "${TRAVIS_PULL_REQUEST}" == "false" ]; then
    git fetch -t;
    python3 .tf47Tools/deploy.py;
  fi
